@page "/"

<h1>Welcome Here</h1>
<p>
    This is just an app i created to test Services In blzor 
    using https://jsonplaceholder.typicode.com
    <br /> Visit : <NavLink class="text-link" href="postlist" >Posts</NavLink>
</p>

