@page "/postlist"
@inherits PostListBase

@if (Posts != null)
{
       @foreach (var post in Posts)
       {
           var link = "/post/"+post.ID;
           <div class="row bg-success my-1 p-1" >
              <div class="col-12">
                <NavLink  class="text-white"  href="@link">
                        @post.Title
                </NavLink> 
              </div>
           </div>
       }
}




